<% if login? %>
<div class="row-fluid">
	<ul class="span8 offset2">
	<% @favorites.each do |show| %>
		<% 
			result = JSON.parse(search_api(show.name, false))
			total = result[result.keys.first]['episodes'].count
			if show.episodes
				watched = show.episodes.split(';').count
			else
				watched = 0
			end
			unwatched = total - watched
			progress = (watched.to_f/total.to_f*100).round
		%>
		<a href="<%= to('/show/'+show.name) %>" class="show">
			<li class="show home" style="background: linear-gradient(to right, rgba(0, 0, 0, .05) <%== progress %>%, rgba(0, 0, 0, 0) <%== progress %>%, rgba(0, 0, 0, 0)), linear-gradient(to bottom, rgb(255, 255, 255), rgb(242, 242, 242));">
				<i rel="tooltip" title="Delete from favorites" show="<%= URI.escape(show['name']) %>" class="fav icon-star"></i>
				<strong><%== show.name %></strong>
				(<%== result[result.keys.first]['year'] %>)
				<% if unwatched == 0 %>
				<span rel="tooltip" title="No unwatched episodes" class="badge pull-right"><i class="icon-ok icon-white"></i></span>
				<% else %>
				<span rel="tooltip" title="<%== unwatched %> unwatched episodes" class="badge pull-right"><%== unwatched %></span>
				<% end %>
			</li>
		</a>
	<% end %>
	</ul>
</div>

<!-- Change Password Modal -->
<div id="change-password" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="change-password-label" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3 id="myModalLabel">Change Password</h3>
	</div>
	<div class="modal-body">
		<form id="change-password-form" class="form-horizontal" method="post" action="/change-password">
			<div class="control-group">
				<label class="control-label" for="old_password">Confirm Old Password</label>
				<div class="controls">
					<input type="password" name="old_password" id="old_password" placeholder="Old Password">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="password">New Password</label>
				<div class="controls">
					<input type="password" name="password" id="password" placeholder="New Password">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="password_repeat">Repeat New Password</label>
				<div class="controls">
					<input type="password" name="password_repeat" id="password_repeat" placeholder="Repeat New Password">
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
		<button class="btn btn-primary" onClick="$('#change-password-form').trigger('submit');">Change Password</button>
	</div>
</div>

<!-- Delete Account Modal -->
<div id="delete-account" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="delete-account-label" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3 id="myModalLabel">Delete Account</h3>
	</div>
	<div class="modal-body">
		<form id="delete-account-form" class="form-horizontal" method="post" action="/delete">
			<div class="control-group">
				<label class="control-label" for="password">Confirm Password</label>
				<div class="controls">
					<input type="password" name="password" id="password" placeholder="Password">
				</div>
			</div>
		</form>
		<p>Are you really sure you want to <strong>delete</strong> your account? This cannot be undone and all your data will be lost!</p>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
		<button class="btn btn-danger" onClick="$('#delete-account-form').trigger('submit');">Delete</button>
	</div>
</div>

<% else %>	
	<form method="post" action="/login">
		<input type="text" placeholder="Username" name="username"><br>
		<input type="password" name="password" placeholder="Password"><br>
		<input type="password" name="password_repeat" placeholder=" Repeat Password"> to register<br>
		<input type="submit" value="login/register!">
	</form>
<% end %>
