<% if login? %>
<div class="row-fluid">
<% if @favorites.count > 0 %>
	<ul class="span8 offset2">
	<% @favorites.each do |show| %>
		<%
			info = show_info(show['name'])
			unless info.is_a?(Hash)
				status 500
				halt
			end
		%>
		<a href="<%= to('/show/' + URI.escape(show.name)) %>" class="show">
			<li class="show home" style="
					background: -webkit-gradient(linear, left top, right top, color-stop(<%== info[:progress] %>% ,rgba(0, 0, 0, .05)), color-stop(<%== info[:progress] %>%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0))),
					            -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(255, 255, 255)), color-stop(100%, rgb(242, 242, 242)));
					background: -webkit-linear-gradient(left,      rgba(0, 0, 0, .05) <%== info[:progress] %>%, rgba(0, 0, 0, 0) <%== info[:progress] %>%, rgba(0, 0, 0, 0)),
					            -webkit-linear-gradient(top,       rgb(255, 255, 255), rgb(242, 242, 242));
					background:         linear-gradient(to right,  rgba(0, 0, 0, .05) <%== info[:progress] %>%, rgba(0, 0, 0, 0) <%== info[:progress] %>%, rgba(0, 0, 0, 0)),
					                    linear-gradient(to bottom, rgb(255, 255, 255), rgb(242, 242, 242));
			">
				<i rel="tooltip" title="Delete from favorites" show="<%= URI.escape(show['name']) %>" class="fav icon-star"></i>
				<strong><%== show.name %></strong>
				<span class="hidden-phone">(<%== info[:year] %>)</span>
				<% if info[:unwatched] == 0 %>
				<span rel="tooltip" title="No unwatched episodes" class="badge pull-right unwatched"><i class="icon-ok icon-white"></i></span>
				<% else %>
				<span rel="tooltip" title="<%== info[:unwatched] %> unwatched episode<%== if info[:unwatched] > 1 then 's' end %>" class="badge pull-right unwatched"><%== info[:unwatched] %></span>
					<% if info[:next_season] != 0 and info[:next_episode] != 0 %>
						<button rel="tooltip" title="Mark s<%== info[:next_season] %>e<%== info[:next_episode] %> as watched" next-up="<%== info[:next_season] %>_<%== info[:next_episode] %>" show="<%= URI.escape(show.name) %>" class="btn btn-mini pull-right next-up" data-loading-text="watching&hellip;" auto-complete="off">next up: s<%== info[:next_season] %>e<%== info[:next_episode] %></button>
					<% end %>
				<% end %>
			</li>
		</a>
	<% end %>
	</ul>
<% else %>
	<div class="span8 offset2 well well-small">
		You can add a show to your favorites by clicking the cute littel star <i class="icon-star-empty"></i> right next to it.
	</div>
	<div class="span4 demo-image">
		<img class="img-polaroid" alt="" src="<%= to('/img/add-to-favorites.png') %>">
	</div>
<% end %>
</div>

<div class="row-fluid hidden-desktop" style="margin-top:50px;">
	<div class="span8 offset2 well well-small">
	On iOS tap <i class="icon-share"></i> and then &ldquo;Add to Home Screen&rdquo; to have omilia just one tap away!
	</div>
</div>

<% else %>	
<div class="row">
	<div class="span8 offset2">
		<h2>omilia <small>(from Greek &#8001;&#956;&#953;&#955;&#943;&#945; <em>homilia</em>, &ldquo;group of actors&rdquo;)</small></h2>
		<p>A simple TV show tracking web app.</p>
	</div>
</div>

<hr>

<div class="row-fluid visible-phone">
	<h4>Login or Sign Up</h4>
	<form method="post" action="/login" class="login-form span3">
		<div class="control-group">
			<label class="control-label" for="username">Username</label>
			<div class="controls">
				<input type="text" class="input-block-level" name="username" id="username" placeholder="Username">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="password">Password</label>
			<div class="controls">
				<input type="password" class="input-block-level" name="password" id="password" placeholder="Password">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="password-repeat">Repeat Password to Register</label>
			<div class="controls">
				<input type="password" class="input-block-level password-repeat" name="password_repeat" placeholder="Repeat Password">
			</div>
		</div>
		<div class="control-group">
			<div class="controls pull-right">
				<button type="submit" class="btn login-register-button">Login</button>
			</div>
		</div>
	</form>
</div>

<hr class="visible-phone">

<div class="row">
	<div class="span3">
		<h4>Simple</h4>
		<img class="img-polaroid feature" alt="" src="<%= to('/img/feature-simple.png') %>">
		<p>The clean interface and reduces feature set let's you focus on what matters most: your favorite shows!</p>
	</div>
	<div class="span3">
		<h4>Mobile Optimized</h4>
		<img class="img-polaroid feature" alt="" src="<%= to('/img/feature-mobile.png') %>">
		<p>omilia works great on your mobile phone or tablet device!</p>
	</div>
	<div class="span3">
		<h4>Next Up</h4>
		<img class="img-polaroid feature" alt="" src="<%= to('/img/feature-nextup.png') %>">
		<p>Check and watch the next episode right from the start page!</p>
	</div>
	<div class="span3">
		<h4>Deep Links</h4>
		<img class="img-polaroid feature" alt="" src="<%= to('/img/feature-link.png') %>">
		<p>Deep link every episode of a show to have them just one click away!</p>
	</div>
</div>
<% end %>

