<% if login? %>
	<ul>
	<% @favorites.each do |show| %>
		<% 
			result = JSON.parse(search_api(show.name))
			total = result[result.keys.first]['episodes'].count
			if show.episodes
				watched = show.episodes.split(';').count
			else
				watched = 0
			end
		%>
		<li>
		<input type="button" class="fav faved" url="<%= URI.escape(show['name']) %>" value="Remove from Favorites">
		<a href="<%= to('/show/'+show.name) %>"><%== show.name %></a> <span class="watched"><%= watched %></span>/<span class="total"><%= total %></span>
		</li>
	<% end %>
	</ul>
	Change Password:<br>
	<form method="post" action="/change-password">
		<input type="password" name="old_password" placeholder="Old Password"><br>
		<input type="password" name="password" placeholder="New Password"><br>
		<input type="password" name="password_repeat" placeholder="Repeat New Password"><br>
		<input type="submit" value="change password">
	</form>
	<br><br>
	Delete Account:<br>
	<form method="post" action="/delete">
		<input type="password" name="password" placeholder="Confirm Password"><br>
		<input type="submit" value="delete account"> Cannot be undone!
	</form>
<% else %>	
	<form method="post" action="/login">
		<input type="text" placeholder="Username" name="username"><br>
		<input type="password" name="password" placeholder="Password"><br>
		<input type="password" name="password_repeat" placeholder=" Repeat Password"> to register<br>
		<input type="submit" value="login/register!">
	</form>
<% end %>
