<% if login? %>
<div class="row-fluid">
	<ul class="span8 offset2">
	<% @favorites.each do |show| %>
		<% 
			result = JSON.parse(search_api(show.name, false))
			total = result[result.keys.first]['episodes'].count
			if show.episodes
				watched = show.episodes.split(';').count
			else
				watched = 0
			end
			unwatched = total - watched
			progress = (watched.to_f/total.to_f*100).round
		%>
		<a href="<%= to('/show/'+show.name) %>" class="show">
			<li class="show home" style="background: linear-gradient(to right, rgba(0, 0, 0, .05) <%== progress %>%, rgba(0, 0, 0, 0) <%== progress %>%, rgba(0, 0, 0, 0)), linear-gradient(to bottom, rgb(255, 255, 255), rgb(242, 242, 242));">
				<i rel="tooltip" title="Delete from favorites" show="<%= URI.escape(show['name']) %>" class="fav icon-star"></i>
				<strong><%== show.name %></strong>
				(<%== result[result.keys.first]['year'] %>)
				<% if unwatched == 0 %>
				<span rel="tooltip" title="No unwatched episodes" class="badge pull-right"><i class="icon-ok icon-white"></i></span>
				<% else %>
				<span rel="tooltip" title="<%== unwatched %> unwatched episodes" class="badge pull-right"><%== unwatched %></span>
				<% end %>
			</li>
		</a>
	<% end %>
	</ul>
</div>
<% else %>	
<div class="row-fluid">
	<form method="post" action="/login" id="login-form" class="span3">
		<div class="control-group">
			<label class="control-label" for="username">Username</label>
			<div class="controls">
				<input type="text" class="input-block-level" name="username" id="username" placeholder="Username">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="password">Password</label>
			<div class="controls">
				<input type="password" class="input-block-level" name="password" id="password" placeholder="Password">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="password_repeat">Repeat Password to Register</label>
			<div class="controls">
				<input type="password" class="input-block-level" name="password_repeat" id="password_repeat" placeholder="Repeat Password">
			</div>
		</div>
		<div class="control-group">
			<div class="controls pull-right">
				<button id="login-register-button" type="submit" class="btn">Login</button>
			</div>
		</div>
	</form>
</div>
<% end %>
