<!DOCTYPE html>
<html>
<head>
	<title><%== @title %> &middot; omilia</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<link href="<%= to('/css/bootstrap.min.css') %>" rel="stylesheet">
	<link href="<%= to('/css/style.css') %>" rel="stylesheet">
	<link href="<%= to('/css/bootstrap-responsive.min.css') %>" rel="stylesheet">

	<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>

	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
			<a class="brand" href="/">omilia</a>
			<% if login? %>
				<ul class="pull-right nav">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="icon-user"></i>
							<%== username %>
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li><a href="#change-password" data-toggle="modal">Change Password</a></li>
							<li><a href="#delete-account" data-toggle="modal">Delete Account</a></li>
							<li class="divider"></li>
							<li><a href="/logout"><i class="icon-off"></i> Logout</a></li>
						</ul>
					</li>
				</ul>
			<% end %>
			</div> <!-- .container -->
		</div> <!-- .navbar-inner -->
	</div> <!-- .navbar -->

	<div class="container">

		<!-- Search -->
		<div class="row-fluid">
			<div class="span6 offset3">
				<form method="get" action="/">
					<div class="input-append">
						<input name="search" class="span11" id="search" value="<%== @search %>" type="text" placeholder="Let's watch something, yo." autocomplete="off">
						<button class="btn" type="submit"><i class="icon-search"></i></button>
					</div> 
				</form>
			</div>
		</div>

		<% if flash[:error] or flash[:notice] %>
		<!-- Alerts -->
		<div class="row-fluid">
			<div class="span8 offset2">
				<% if flash[:notice] %>
				<div class="alert alert-info">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<%== flash[:notice] %>
				</div>
				<% end %>
				<% if flash[:error] %>
				<div class="alert alert-error">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<strong>Error!</strong> <%== flash[:error] %>
				</div>
				<% end %>
			</div>
		</div>
		<% end %>

		<%= yield %>

		<hr>

		<div class="footer">
			<div class="container muted">
				<small>&copy; Ps0ke 2013</small>
			</div>
		</div>

	</div> <!-- /container -->

	<script type="text/javascript" src="<%= to('/js/jquery.min.js') %>"></script>
	<script type="text/javascript" src="<%= to('/js/bootstrap.min.js') %>"></script>
	<script type="text/javascript" src="<%= to('/js/script.js') %>"></script>
</body>
</html>
