<!DOCTYPE html>
<html>
<head>
	<title><%= @title %></title>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
<% if login? %>
	<script type="text/javascript">   
		$(document).ready(function(){

			$(".fav").on("click", function(event){
				var tis = $(this);
				$.ajax({
					'url': '/show/' + tis.attr('url'),
					'dataType': 'text',
					'async': true,
					'success': function(response){
						console.log('success! ' + response);
						if (tis.hasClass('faved')){
							tis.removeClass('faved');
						} else {
							tis.addClass('faved');
						}
					},
					'error': function(response){
						console.log('error! ' + response);
						// display helpful tooltip
					 },
					'type': tis.hasClass('faved') ? 'DELETE' : 'PUT'
				});
			});

			$("input[type=checkbox].episode").on("change", function(event){
				var tis = $(this);
				var season = $(this).attr('id').split('_')[0];
				var episode = $(this).attr('id').split('_')[1];
				var show = location.pathname.split('/').pop();
				$.ajax({
					'url': '/show/' + show + '/' + season + '/' + episode,
					'dataType': 'text',
					'async': true,
					'success': function(response){
						console.log('success! ' + response);
					},
					'error': function(response){
						console.log('error! ' + response);
						// display helpful tooltip
						if (tis.attr('checked') == 'checked'){
							tis.removeAttr('checked');
						} else {
							tis.attr('checked', 'checked');
						}
					 },
					'type': tis.attr('checked') == 'checked' ? 'PUT' : 'DELETE'
				});

			});
		});
	</script>
<% end %>
	<style>
		 .faved{
			background: green;
		}
		.error{
			color: red;
		}
		.notice{
			color: green;
		}
	</style>
</head>
<body>
	<ul>
		<li><a href="/">home</a></li>
	<% if login? %>
		<li>Logged in as: <%== session[:username] %></li>
		<li><a href="/logout">logout</a></li>
	<% end %>
	</ul>
	<form  method="get" action="/">Search: <input type="text" name="search" value="<%== @search %>"><input type="submit" value="Go"> ('%' is a wildcard)</form>
	<br>
	<% if flash[:error] %>
		<span class="error"> <%== flash[:error] %></span>
		<br><br>
	<% end
	if flash[:notice] %>
		<span class="notice"> <%== flash[:notice] %></span>
		<br><br>
	<% end %>

	<%= yield %>
</body>
</html>
