<h1>Results for "<%== @search %>"</h1>
<ul>
<% @shows.each do |show| %>
	<li>
<% if login? %>
	<% if is_favorite? show['name'] %>
		<input type="button" class="fav faved" url="<%= URI.escape(show['name']) %>" value="Remove from Favorites">
	<% else %>
		<input type="button" class="fav" url="<%= URI.escape(show['name']) %>" value="Add to Favorites">
	<% end %>
<% end %>
	<a href="<%= to('/show/'+show['name']) %>"><%== show['name'] %></a> (<%== show['year'].to_s %>)</li>
<% end %>
</ul>
