<div class="row-fluid">
	<div class="span8 offset2">
		<h3><%= @show_name %> <small>(<%= @year %>)</small></h3>
<% if login? %>
	<% if @datasets.first(:name => @show_name) %>
		<button id="favbtn" class="btn fav remove" show="<%= URI.escape(@show_name) %>">Remove from favorites</button>
	<% else %>
		<button id="favbtn" class="btn fav add" show="<%= URI.escape(@show_name) %>">Add to favorites</button>
	<% end %>
<% end %>
		<ul class="seasons unstyled">
		<% @seasons.each_with_index do |season, i| %>
			<li class="season<%== if @collapsed.include?((i+1).to_s) then ' collapsed' end %>">
				<div class="dropdown">
					<i collapse-season="<%== i+1 %>" class="icon-chevron-<%== if @collapsed.include?((i+1).to_s) then 'right' else 'down' end %>"></i>
					<h4>Season <%== i+1 %></h4>
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						 <b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li><a watch-season="<%== i+1 %>"><i class="icon-ok-sign"></i> Mark all episodes as watched</a></li>
					</ul>
				</div>

				<ol class="episodes">
				<% season.each_with_index do |episode, j| %>
					<% id = "#{i+1}_#{j+1}"%>
					<li>
						<label class="checkbox inline" for="<%= id %>">
							<input <%== if @watched_episodes.include?(id) then 'checked ' end %>type="checkbox"<%= if login? then ' class="episode"' end %> id="<%= id %>"> <%== episode %>
						</label>
					</li>
				<% end %>
				</ol>
			</li>
		<% end %>
		</ul>
	</div>
</div>
