<div class="row-fluid">
	<div class="span8 offset2">
	<% if not @custom_url.empty? && @custom_url !~ /%0*[se]/ %>
		<h3><a target="_blank" href="<%= @custom_url %>"><span class="show-name"><%= @show_name %></span></a> <small>(<%= @year %>)</small></h3>
	<% else %>
		<h3><%= @show_name %> <small>(<%= @year %>)</small></h3>
	<% end %>
<% if login? %>
	<% if @datasets.first(:name => @show_name) %>
		<button id="favbtn" class="btn fav remove" show="<%= URI.escape(@show_name) %>">Remove from favorites</button>
	<% else %>
		<button id="favbtn" class="btn fav add" show="<%= URI.escape(@show_name) %>">Add to favorites</button>
	<% end %>
	<form id="custom-url-form" action="/url/<%= URI.escape(@show_name) %>" method="post"<%= unless @datasets.first(:name => @show_name) then ' style="display:none;"' end %>>
		<div class="input-prepend input-append">
			<span class="add-on" type="button"><i class="icon-globe"></i></span>
			<input id="custom-url-input" type="text" name="url" placeholder="Custom Show URL" value="<%== @custom_url %>">
			<button class="btn" type="submit">Save</button>
		</div>
	</form>
<% end %>
		<ul class="seasons unstyled">
		<% @seasons.each_with_index do |season, i| %>

			<li class="season<%== if @collapsed.include?((i+1).to_s) then ' collapsed' end %>">
				<div class="dropdown">
					<i collapse-season="<%== i+1 %>" class="icon-chevron-<%== if @collapsed.include?((i+1).to_s) then 'right' else 'down' end %>"></i>
					<h4>Season <%== i+1 %></h4>
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						 <b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li><a watch-season="<%== i+1 %>"><i class="icon-ok-sign"></i> Mark all episodes as watched</a></li>
					</ul>
				</div>

				<ol class="episodes">
				<% season.each_with_index do |episode, j| %>
					<%
						se = (i+1).to_s
						ep = (j+1).to_s
						id = se + '_' + se
					%>
					<li>
						<label class="checkbox inline" for="<%= id %>">
							<input <%== if @watched_episodes.include?(id) then 'checked ' end %>type="checkbox"<%= if login? then ' class="episode"' end %> id="<%= id %>">
							<% if @custom_url =~ /%0*s/ and @custom_url =~ /%0*e/ %>
								<%
									ep_url = @custom_url
									ep_url = ep_url.gsub /%(0*)s/ do
										if (padding = $1.length - se.length) > 0
											'0' * padding + se
										else
											se
										end
									end
									ep_url = ep_url.gsub /%(0*)e/ do
										if (padding = $1.length - ep.length) > 0
											'0' * padding + ep
										else
											ep
										end
									end
								%>
								<a target="_blank" href="<%= ep_url %>"><span class="episode-name"><%== episode %></span></a>
							<% else %>
							<%== episode %>
							<% end %>
						</label>
					</li>
				<% end %>
				</ol>
			</li>
		<% end %>
		</ul>
	</div>
</div>
